@import "../electron/themes/default/index.css";
@import "../electron/themes/coffee/index.css";
@import "../electron/themes/fresh/index.css";
@import "../electron/themes/nerd/index.css";
@import "../electron/themes/smooth/index.css";